<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../style/css/ct_base.css" type="text/css">
    <link rel="stylesheet" href="../style/css/ct_layout1.css" type="text/css">

    <title>About us by Hoc Chi Min Restaurant</title>

</head>
<body>

    <header>
        <img src="../asserts/images/ct_logo.png" alt="Hoc Chi Min Restaurant">
    </header>

    <article>

        <h1>About Us</h1>

        <p>
            <strong>
                &#169; &copy; Hoc Chi Min Restaurant
            </strong>
            is set atop the Center Tower. 
            With its ceiling-to-floor windows it offers
            unparalleled panoramic views from nearly every table. 
            Frangipani trees, water features and the general open-air 
            feel make for a perfect place to unwind after a long day exploring the city. 
            The objective of 
            <em>Hoc Chi Min Restaurante</em> is 
            simple: beautiful home-cooked Vietnam food in a relaxed 
            and ambient setting.
        </p>


        <p>
            contact us for wedding or party and experience 
            what 
            <cite>
                Hoc Chi Min Travlers
            </cite> call
            <q>
                the finest asian food on or off streerts of Vietnam
            </q>
        </p>

    </article>

    <footer>Hoc Chi Min Restaurant &#8226; 89 Tôn Thất Đạm, Bến Nghé, Quận 1, Thành phố Hồ Chí Minh, Vietnam &#8226; 542-441-864 </footer>
    
</body>
</html>