<!-- autor: pushpak sharma
title: Restaurant website design
Layout page name: catering layout -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../style/css/ct_base.css" type="text/css">
    <link rel="stylesheet" href="../style/css/ct_layout1.css" type="text/css">


    <title>Catering by Hoc Chi Min Restaurant</title>
</head>
<body>

    <article>

        <h1>
            Catering
        </h1>

       <img src="../asserts/images/ct_photo2.png" alt="Catering">

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore maiores quibusdam laudantium voluptas, voluptatum consequuntur ea esse magnam, consectetur dolorum at quasi facilis, earum vel modi labore vero animi laboriosam.</p>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque iste vel labore quia ipsum enim, quod esse vitae, maxime deserunt debitis. Ducimus inventore reiciendis minus quaerat! Reiciendis repellat officia rem!</p>

        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis repellat libero excepturi eos magni. Placeat, facilis. Nemo, delectus porro adipisci officia saepe eos error assumenda deserunt ad, animi ab doloremque.</p>

    </article>
    
</body>
</html>