<!-- autor: pushpak sharma
title: Restaurant website design
Layout page name: contact layout -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../style/css/ct_base.css" type="text/css">
    <link rel="stylesheet" href="../style/css/ct_layout1.css" type="text/css">


    <title>contact by Hoc Chi Min Restaurant</title>
</head>
<body>

    <article>

        <h1>
            Contact US
        </h1>

        <address>
            Hoc Chi Min Restaurant <br/>
            89 Tôn Thất Đạm, Bến Nghé, Quận 1, Thành phố Hồ Chí Minh, Vietnam <br/> 
        </address>

        <p>
            call us : 542-441-864
        </p>

        <p>
            email: conatct@chiminrestaurant.com
        </p>

    </article>
    
</body>
</html>