<!-- autor: pushpak sharma
title: Restaurant website design
Layout page name: review layout -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../style/css/ct_base.css" type="text/css">
    <link rel="stylesheet" href="../style/css/ct_layout1.css" type="text/css">


    <title>Review by Hoc Chi Min Restaurant</title>
</head>
<body>

    <article>

        <h1>
            Review
        </h1>

        <blockquote>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam consequatur nulla at, dolorem aperiam dolores, tempore suscipit, eveniet cum officiis repudiandae aliquid? Eligendi, consectetur. Minima ipsum temporibus alias pariatur ratione!</p>
        </blockquote>

        <blockquote>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error maiores labore, maxime molestiae quasi, reiciendis magni fuga dolore libero sed modi quibusdam ut dolores animi sunt repellat tempora reprehenderit consequuntur!</p>
        </blockquote>

        <blockquote>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci labore pariatur eaque libero ipsam, maiores, quis nemo quam corrupti obcaecati magni mollitia perspiciatis! Magni praesentium quidem hic harum ea dolorem.</p>
        </blockquote>

    </article>
    
</body>
</html>